/target
skin.png
uv.png
doom-slayer.png
alex.png
current.png
minecraft.wad
minecraft.wad.bak
minecraft-fist.wad
minecraft-fist.wad.bak
acc
zcommon.acs
zdefs.acs
zspecial.acs
zwvars.acs
skins.csv
gutts.png
rem.png
zombie.png
skin2.png
